In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('StudentsPerformance_modified.csv')

In [4]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72.0,74.0
1,female,group C,some college,standard,completed,69,90.0,88.0
2,female,group B,master's degree,standard,none,90,95.0,93.0
3,male,group A,associate's degree,free/reduced,none,47,57.0,44.0
4,male,group C,some college,standard,none,76,78.0,75.0

In [5]:
df.tail()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
995,female,group E,master's degree,standard,completed,88,99.0,95.0
996,male,group C,high school,free/reduced,none,62,55.0,55.0
997,female,group C,high school,free/reduced,completed,59,71.0,65.0
998,female,group D,some college,standard,completed,68,78.0,77.0
999,female,group D,some college,free/reduced,none,77,86.0,86.0

In [7]:
df.describe()

       reading score  writing score
count     994.000000     991.000000
mean       68.008048      69.487386
std        16.602270      29.563757
min         3.000000      10.000000
25%        58.000000      57.000000
50%        69.500000      69.000000
75%        79.000000      79.000000
max       100.000000     567.000000

In [8]:
df.min()

/tmp/ipykernel_4172/3962516015.py:1: FutureWarning: The default value of numeric_only in DataFrame.min is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.min()

gender                                     female
race/ethnicity                            group A
parental level of education    associate's degree
lunch                                free/reduced
test preparation course                 completed
reading score                                 3.0
writing score                                10.0
dtype: object

In [9]:
df.min(numeric_only=True)

reading score     3.0
writing score    10.0
dtype: float64

In [10]:
df.max(numeric_only=True)

reading score    100.0
writing score    567.0
dtype: float64

In [11]:
df.mean()

/tmp/ipykernel_4172/3698961737.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

reading score    68.008048
writing score    69.487386
dtype: float64

In [12]:
df.dtypes

gender                          object
race/ethnicity                  object
parental level of education     object
lunch                           object
test preparation course         object
math score                      object
reading score                  float64
writing score                  float64
dtype: object

In [13]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()

In [15]:
for columns in df.columns:
    if df[columns].dtypes=="object":
        df[columns]=labelencoder.fit_transform(df[columns])

In [16]:
df.dtypes

gender                           int64
race/ethnicity                   int64
parental level of education      int64
lunch                            int64
test preparation course          int64
math score                       int64
reading score                  float64
writing score                  float64
dtype: object

In [17]:
df.isna().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  6
writing score                  9
dtype: int64

In [18]:
df['reading score']

0      72.0
1      90.0
2      95.0
3      57.0
4      78.0
       ...
995    99.0
996    55.0
997    71.0
998    78.0
999    86.0
Name: reading score, Length: 1000, dtype: float64

In [19]:
df['reading score'].fillna(df['reading score'].mean(),inplace=True)
df['writing score'].fillna(df['writing score'].mean(),inplace=True)

In [20]:
df.isna().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [21]:
df.shape

(1000, 8)

In [22]:
df.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [23]:
columns = []
for column in df.columns:
    columns.append(column)

In [24]:
columns

['gender',
 'race/ethnicity',
 'parental level of education',
 'lunch',
 'test preparation course',
 'math score',
 'reading score',
 'writing score']