In [120]:
import pandas as pd

In [121]:
df = pd.read_csv("StudentsPerformance_modified.csv")

In [122]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72.0,74.0
1,female,group C,some college,standard,completed,69,90.0,88.0
2,female,group B,master's degree,standard,none,90,95.0,93.0
3,male,group A,associate's degree,free/reduced,none,47,57.0,44.0
4,male,group C,some college,standard,none,76,78.0,75.0

In [123]:
df.dtypes

gender                          object
race/ethnicity                  object
parental level of education     object
lunch                           object
test preparation course         object
math score                      object
reading score                  float64
writing score                  float64
dtype: object

In [74]:
df.shape

(1000, 8)

In [75]:
df.isna().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     8
reading score                  6
writing score                  9
dtype: int64

In [76]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     8
reading score                  6
writing score                  9
dtype: int64

In [77]:
df['math score'] = pd.to_numeric(df['math score'], errors='coerce')
mean_value = df['math score'].mean()
df['math score'].fillna(mean_value, inplace=True)

In [78]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72.0,72.0,74.0
1,female,group C,some college,standard,completed,69.0,90.0,88.0
2,female,group B,master's degree,standard,none,90.0,95.0,93.0
3,male,group A,associate's degree,free/reduced,none,47.0,57.0,44.0
4,male,group C,some college,standard,none,76.0,78.0,75.0

In [79]:
df['reading score'].fillna(df['reading score'].mean(), inplace=True)

In [80]:
df['writing score'].fillna(df['writing score'].mean(), inplace=True)

In [81]:
df.isna().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [82]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [83]:
df['gender'].value_counts()

gender
female    518
male      482
Name: count, dtype: int64

In [84]:
df['race/ethnicity'].value_counts()

race/ethnicity
group C    319
group D    262
group B    190
group E    140
group A     89
Name: count, dtype: int64

In [85]:
df['parental level of education'].value_counts()

parental level of education
some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: count, dtype: int64

In [86]:
df['lunch'].value_counts()

lunch
standard        645
free/reduced    355
Name: count, dtype: int64

In [87]:
df['test preparation course'].value_counts()

test preparation course
none         642
completed    358
Name: count, dtype: int64

In [88]:
dummy = pd.get_dummies(df['race/ethnicity'])

In [94]:
df = pd.concat([df, dummy], axis=1)

In [99]:
df.drop('race/ethnicity', axis=1, inplace=True)

In [101]:
df.head()

,gender,parental level of education,lunch,test preparation course,math score,reading score,writing score,group A,group B,group C,group D,group E
0,female,bachelor's degree,standard,none,72.0,72.0,74.0,False,True,False,False,False
1,female,some college,standard,completed,69.0,90.0,88.0,False,False,True,False,False
2,female,master's degree,standard,none,90.0,95.0,93.0,False,True,False,False,False
3,male,associate's degree,free/reduced,none,47.0,57.0,44.0,True,False,False,False,False
4,male,some college,standard,none,76.0,78.0,75.0,False,False,True,False,False

In [104]:
df['gender'] = df['gender'].replace(['female', 'male'], [0, 1])

In [109]:
dummy = pd.get_dummies(df['parental level of education'])
df = pd.concat([df, dummy], axis=1)

In [111]:
df.drop('parental level of education', axis=1, inplace=True)

In [114]:
df['lunch'] = df['lunch'].replace(['standard', 'free/reduced'], [0, 1])

In [115]:
df['test preparation course'] = df['test preparation course'].replace(['none', 'completed'],[0,1])

In [118]:
df = df.astype(int)

In [119]:
df

,gender,lunch,test preparation course,math score,reading score,writing score,group A,group B,group C,group D,group E,associate's degree,bachelor's degree,high school,master's degree,some college,some high school
0,0,0,0,72,72,74,0,1,0,0,0,0,1,0,0,0,0
1,0,0,1,69,90,88,0,0,1,0,0,0,0,0,0,1,0
2,0,0,0,90,95,93,0,1,0,0,0,0,0,0,1,0,0
3,1,1,0,47,57,44,1,0,0,0,0,1,0,0,0,0,0
4,1,0,0,76,78,75,0,0,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,0,1,88,99,95,0,0,0,0,1,0,0,0,1,0,0
996,1,1,0,62,55,55,0,0,1,0,0,0,0,1,0,0,0
997,0,1,1,59,71,65,0,0,1,0,0,0,0,1,0,0,0
998,0,0,1,68,78,77,0,0,0,1,0,0,0,0,0,1,0
999,0,1,0,77,86,86,0,0,0,1,0,0,0,0,0,1,0